@import "/src/styles/var";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: $font_two;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_two;
  font-weight: bold;
}

.custom_btn {
  font-weight: 500;
  font-size: var(--f14);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  position: relative;
  .loader {
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &.loading {
    .custom_btn_text {
      color: transparent;
    }
  }
  &.disabled {
    opacity: 0.9;
  }
  // font-size: 16px;
  &.btn {
    line-height: 1.25;
    min-height: 42px;
    padding: 6px 18px;
    &.btn-sm {
      min-height: 36px;
      padding: 6px 16px;
    }
    &:hover {
      filter: brightness(0.9);
    }
  }
  &.btn-primary {
    color: #fff;
  }
  &.btn-secondary {
    color: #fff;
  }
  &.btn-light {
    background-color: var(--theme_color);
  }
  &.btn-link {
    text-decoration: none;
    box-shadow: none;
  }
}

.field_wrap {
  position: relative;

  label {
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 14px;
    color: #7a7a7a;
  }

  input,
  textarea {
    &.form-control {
      box-shadow: none;
      min-height: 38px;
      line-height: 1.25;
      color: #000;
      resize: none;
      border: 1px solid #253d4e1a;
      border-radius: 12px;
      padding: 12px;

      &:focus {
        box-shadow: 0px 0px 0px 1px #9e77ed3d;
      }

      &::placeholder {
        color: rgba(#000, 0.5);
      }

      &.has_error {
        border-color: #f00;

        &:focus {
          border-color: rgba(#f00, 0.5);
          box-shadow: 0px 0px 0px 4px rgba(#f00, 0.3),
            0px 1px 2px 0px rgba(#f00, 0.3);
        }
      }
    }
  }

  textarea {
    &.form-control {
      padding: 14px 12px;
    }
  }

  select {
    &.form-select {
      box-shadow: none;
      border: 1px solid #253d4e1a;
      border-radius: 12px;
      color: #000;
      min-height: 38px;
      padding: 12px;
    }
  }
}

.field_error {
  position: absolute;
  color: #f00;
  right: 0;
  font-size: 12px;
  top: 100%;
}

// ============= table styling =============================

.table_wrapper {
  th,
  td {
    padding: 8px 1rem;
  }
  th {
    font-weight: 600;
    white-space: nowrap;
  }
  .action_btn {
    display: flex;
    gap: 4px;
    span {
      flex-shrink: 0;
      background-color: #fff;
      border-radius: 50%;
      color: var(--heading_color);
      cursor: pointer;
      width: 24px;
      font-size: 1rem;
      aspect-ratio: 1;
      @include flexCenter;
      &.edit {
        color: $primary;
      }
      &.delete {
        color: $danger;
      }
      &.view {
        color: $secondary;
      }
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
